@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"),
    url("./fonts/HelveticaNeue-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue thin";
  src: local("Helvetica Neue"),
    url("./fonts/HelveticaNeue-Thin.ttf") format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-family: "Helvetica Neue thin", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
}

button {
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: row-reverse;
  background: 0;
  font-family: "Helvetica Neue thin";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.67px;
  text-transform: uppercase;
  color: #ffffff;
}
input {
  font-family: "Helvetica Neue thin";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1.97px;
}
h1 {
  font-family: "Helvetica Neue thin";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.97px;
  color: #000000;
}
h2 {
  font-family: "Helvetica Neue thin";
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
h3 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 2.67px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 64px;
  flex-direction: column;
  gap: 11.5px;
}
.nav-bar-content {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 1186px;
  width: 100%;
  height: 41px;
}
.logo {
  background-image: url(../public/assets/logo.svg);
  width: 162px;
  height: 33px;
}
.search-button {
  background-image: url(../public/assets/Search.svg);
}
.content {
  width: 410px;
  position: relative;
}
.search {
  --size: 41px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  height: 41px;
  width: 41px;
  transition: width 150ms ease-in-out;
  padding: 3px;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0px;
  align-items: center;
  justify-content: center;
}
#search-bar {
  border: 0;
  padding: 0.25em 1em;
  flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;
}
.search-button {
  font-size: 1.5rem;
  margin-left: auto;
  border: 0;
  cursor: pointer;
  transition: background 200ms ease-out;
  width: 24px;
  height: 24px;
}
.search-button-logo {
  width: 24px;
  height: 24px;
}
.search:focus-within {
  width: 100%;
  border: 0.5px solid #000000;
  border-radius: 4px;
}
.search:focus-within #search-bar {
  opacity: 1;
  z-index: initial;
  cursor: initial;
}
.search-button:hover .search-button-logo:hover {
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
.nav-bar-icons {
  align-self: center;
}
.links {
  font-family: "Helvetica Neue thin";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.92px;
  color: #000000;
  text-align: start;
  text-transform: none;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 126px;
  gap: 18px;
  width: 776px;
  height: 221px;
  background: rgba(255, 255, 255, 0.88);
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 696px;
  width: 100%;
  background: url(../public/assets/hero-picture@2x.png);
}
.hero-desc {
  width: 402px;
  line-height: 40px;
}
.hero-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 16px;
  width: 505px;
  height: 48px;
  border: 0.5px solid #000000;
  border-radius: 4px;
}
#search-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 433px;
  height: 38px;
  font-family: "Helvetica Neue thin";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1.29px;
  outline: 0;
  background: transparent;
  cursor: pointer;
  border: 0;
}
.search-button-logo-bigger {
  width: 32px;
  height: 32px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: calc((380+24) * 3px);
  gap: 24px;
  justify-items: center;
}
.resaturant-card-img {
  width: 100%;
  height: 236px;
  object-fit: cover;
  margin-bottom: 18px;
}
.resaturant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f9f4ea;
  gap: 8px;
}
.popular-restaurants-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  gap: 40px;
}
.star-rating {
  display: flex;
  justify-content: center;
}
.on {
  background-image: url(./assets/Star\ 1.svg);
}
.off {
  background-image: url(./assets/Star\ 2.svg);
}
.star {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.restaurant-link {
  align-self: flex-end;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: right;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000000;
}
.dish-card-img {
  width: 100%;
  height: 306px;
  object-fit: cover;
}
.dish-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
  background: #f9f4ea;
}
.dish-icon {
  width: 40px;
  height: 31px;
}
.dish-icons {
  display: flex;
}
.ingridients {
  width: 295px;
}
.dish-name {
  width: 194px;
}
.line {
  border: 0.5px solid #979797;
  width: 112px;
  height: 0px;
}
.dish-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px 8px;
  gap: 8px;
  width: 295px;
  height: 348px;
  text-align: center;
}
.price {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
}
.hidden {
  display: none;
}
.icon-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 476px;
  gap: 32px;
  height: 265px;
  width: 100%;
  background: #fafafa;
}

.icons-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}
.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
}
.big-icon {
  width: 77.42px;
  height: 60px;
}
